body {
	margin: 40px auto;
	max-width: 1024px;
	font-size: 18px;
	padding: 0 10px;
}

header {
	border-bottom: 1px solid;
	margin-bottom: 1rem;
}

footer {
	border-top: 1px solid;
	margin-top: 1rem;
}

h1, h2 {
	display: inline;
}

p {
	text-align: justify;
	text-justify: auto;
}

abbr {
	cursor: help;
}

@media (prefers-color-scheme: light) {
	body {
		color: #444444;
		background: #EEEEEE;
	}
	h1, h2 {
		color: #FA8B6D;
	}
	a {
		color: #333333;
	}
	header {
		border-bottom-color: #444444;
	}
	footer {
		border-top-color: #444444;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: #EEEEEE;
		background: #444444;
	}
	h1, h2 {
		color: #6DFA8B;
	}
	a {
		color: #E6E6E6;
	}
	header {
		border-bottom-color: #EEEEEE;
	}
	footer {
		border-top-color: #EEEEEE;
	}
}
